*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

}
.container{
    background-color: darkblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    gap: 15px;
    
}
.comentarios{
    width: 700px;
    padding: 10px;
    position: relative;
   
}


.content img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.content{
    border: 1px solid #fff;
    padding: 10px;
    background-color: steelblue;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transform-style: preserve-3d;
   
}
.user{
    display: flex;
    gap: 10px;
    color: #fff;
    
}
.user p:nth-child(2){
    color: #aaa
}

.contenido > p{
    color: #fff;
    margin: 5px 0;

}

.butons{
    display: flex;
    gap: 10px;
}

.butons button{
    background-color:#fff;
    border: none;
    color: steelblue;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}

.coments{
    margin-top: 15px;
    display: flex;
    
    
}





.hijo{
    margin-top: 15px;
   position: relative;
   margin-left: 100px;
   
   
}


.con_hijo{
    
    width: 100px;
    height: calc(100% + 25%) ;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-radius: 0 0 0 10px; 



    position: absolute;
    left: -20px;
    bottom: 50%;
    

}


.primero{
    position: sticky;
    z-index: 10;
}
